@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color: rgba(128, 128, 128, 0.726);
    color: rgba(255, 255, 255, 0.842);
    padding: 20px;
}

a{
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

.centerDiv{
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

